@import "tailwindcss";
@plugin "daisyui";

@layer base {
  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }

  body {
    @apply min-h-screen bg-base-100;
  }
}
